{{#if result}}
{{#each recipes}}

<div class="card mb-2" id="{{_id}}">
  <div class="card-header">
    {{rating}}

  </div>
  <div class="card-body"
    style="background-image:url({{img}}); background-repeat:no-repeat; background-position:right; background-size: contain;">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text"><a href="{{link}}" target="_">View Original Recipe</a></p>
    <a href="#" class="btn btn-danger delete-recipe mb-1" data-id="{{_id}}">Delete Recipe</a>
    <a href="/details/{{id}}" class="btn btn-success show-details mb-1">Recipe
      Details</a>
  </div>
</div>
{{/each}}
{{else}}
{{!-- no recipes --}}
<div class="card">
  <div class="card-header">
    No Recipes To Display
  </div>
  <div class="card-body">
    <h5 class="card-title">Try Saving Some Recipes</h5>
  </div>
</div>

{{/if}}